.card-container {
    gap: 2rem;
}

.cards {
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top:10px;
    padding: 1rem;
}

.cards:hover .card-over {
    transform: translateY(0%);
    overflow: hidden;
    opacity: 1;
    padding: 1rem;
}

.card-over {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    transform: translateY(25%);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    z-index: 2;
    max-height: 100%;
    text-align: justify;
    overflow: hidden;
}

.card-over::-webkit-scrollbar {
    display: none;
}
